table {
  width: 100%;
}

.table-title {
  font-size: 1.4rem;
  margin: 0;
  padding: 2%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail table {
  border: 1px solid #ddd;
  margin: 20px 0px;
}

.element-detail th {
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ddd;
}

.element-detail td.title {
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.orgao-superior {
  width: 80%;
}

.convenio-orgao-maximo {
  width: 80%;
}



  
