.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.home .title {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px;
}

.home .subtitle {
    color: gray;
    font-size: 1rem;
}