table {
  width: 100%;
}

.table-title {
  font-size: 1.4rem;
  margin: 0;
  padding: 2%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail-table {
  margin: 10px 100px;
}

.element-detail-table th {
  padding-bottom: 5px;
}

.element-detail-table td {
  width: 50%;
}

  
