<div class="mat-elevation-z2">
  <h2 class="table-title">PEPS</h2>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <!-- cpf Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let row">{{ row.cpf_completo| mask: '000.000.000-00' }}</td>
    </ng-container>
    <!-- nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>
    <!-- função Column -->
    <ng-container matColumnDef="funcao">
      <th mat-header-cell *matHeaderCellDef>Função</th>
      <td mat-cell *matCellDef="let row">{{row.descricaoFuncao}}</td>
    </ng-container>
    <!-- órgão Column -->
    <ng-container matColumnDef="orgao">
      <th mat-header-cell *matHeaderCellDef>Órgão</th>
      <td mat-cell *matCellDef="let row">{{row.nomeOrgao}}</td>
    </ng-container>
    <!-- início exercício Column -->
    <ng-container matColumnDef="inicioExercicio">
      <th mat-header-cell *matHeaderCellDef>Início Exercício</th>
      <td mat-cell *matCellDef="let row">{{row.dataInicioExercicio | customDate}}</td>
    </ng-container>
    <!-- fim exercício Column -->
    <ng-container matColumnDef="fimExercicio">
      <th mat-header-cell *matHeaderCellDef>Fim Exercício</th>
      <td mat-cell *matCellDef="let row">{{row.dataFimExercicio | customDate}}</td>
    </ng-container>
    <!--botao expand Column-->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element">
          <i class="material-icons"> {{expandedElement === element ? 'expand_less' : 'expand_more'}} </i>
        </button>
      </td>
    </ng-container>
    <!-- expand content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <table class="element-detail-table">
            <tr>
              <th colspan="2">INFORMAÇÕES EXTRAS</th>
            </tr>
            <tr>
                <td class="table-content-title">Orgão</td>
                <td class="table-content-title">Nível da função</td>
            </tr>
            <tr>
                <td>{{ element.codigoOrgao }}</td>
                <td>{{ element.nivelFuncao }}</td>
            </tr>
            <tr>
                <td class="table-content-title">Sigla</td>
                <td class="table-content-title">Data final da carência</td>
            </tr>
            <tr>
                <td>{{ element.siglaFuncao }}</td>
                <td>{{ element.dataFimCarencia }}</td>
            </tr>            
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        (click)="$event.stopPropagation()">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>