table {
  width: 100%;
}

.table-title {
  font-size: 1.4rem;
  margin: 0;
  padding: 2%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail-table {
  margin: 20px 250px;
  border: 1px solid #ddd;
}

.element-detail-table th {
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ddd;
}

.element-detail-table td {
  
  width: 50%;
  text-align: center;
}

.table-content-title {
  border-bottom: 1px solid #ddd;
  font-weight: 700;
}

  
