<div class="mat-elevation-z2">
  <h2 class="table-title">PEPS</h2>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- cpf Column -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF</th>
      <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
    </ng-container>
    <!-- nome Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>
    <!-- função Column -->
    <ng-container matColumnDef="funcao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Função</th>
      <td mat-cell *matCellDef="let row">{{row.funcao}}</td>
    </ng-container>
    <!-- órgão Column -->
    <ng-container matColumnDef="orgao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Órgão</th>
      <td mat-cell *matCellDef="let row">{{row.orgao}}</td>
    </ng-container>
    <!-- início exercício Column -->
    <ng-container matColumnDef="inicioExercicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Início Exercício</th>
      <td mat-cell *matCellDef="let row">{{row.inicioExercicio}}</td>
    </ng-container>
    <!-- fim exercício Column -->
    <ng-container matColumnDef="fimExercicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fim Exercício</th>
      <td mat-cell *matCellDef="let row">{{row.fimExercicio}}</td>
    </ng-container>
    <!-- expand Column -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="toggleExpansion(row)">
          <i class="material-icons">{{row.expanded ? 'expand_less' : 'expand_more'}}</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 25, 50]">
  </mat-paginator>
</div>
