.document-type {
    font-size: 1.2rem;
    width: 50%;
}

.date-picker {
    font-size: 1.2rem;
    width: 50%;
}

.document-value {
    font-size: 1.2rem;
    width: 50%;
}

.search-interval {
    font-size: 1.2rem;
    width: 50%;
}