<mat-form-field appearance="fill" class="document-type">
  <mat-label>Consulta por:</mat-label>
  <mat-select required [(ngModel)]="selectedDocumentType">
    <mat-option *ngFor="let document of documents" [value]="document.type">
      {{ document.type }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" class="date-picker">
  <mat-label>Data referência:</mat-label>
  <input matInput [matDatepicker]="picker" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill" class="document-value">
  <mat-label>{{ selectedDocumentType ? selectedDocumentType : '' }}</mat-label>
  <input matInput required>
</mat-form-field>

<mat-form-field appearance="fill" class="search-interval">
  <mat-label>Pesquisar pelos últimos:</mat-label>
  <mat-select required>
    <mat-option *ngFor="let date of dates" [value]="date.interval">
      {{ date.interval }}
    </mat-option>
  </mat-select>
</mat-form-field>


