.query-button {
    background-color: #242c54;
    padding: 0px 30px;
    font-weight: 500;
    font-size: 1rem;
}

.mat-dialog-content > * {
    font-size: 1.2rem;
    width: 50%;
}

.document-value mat-hint {
    color: red;
}

.mat-dialog-actions {
    justify-content: end;
}